{% extends "base.html" %}

{% block extrahead %}
  <!-- Open Graph -->
  <meta property="og:type" content="website">
  {% if page.is_homepage %}
  <meta property="og:title" content="{{ config.site_name }}">
  {% else %}
  <meta property="og:title" content="{{ page.meta.title if page.meta and page.meta.title else page.title | striptags }} - {{ config.site_name }}">
  {% endif %}
  <meta property="og:site_name" content="{{ config.site_name }}">
  <meta property="og:description" content="{{ page.meta.description if page.meta and page.meta.description else config.site_description }}">
  {% if page.meta and page.meta.image_url %}
  <meta property="og:image" content="{{ page.meta.image_url }}">
  <meta property="og:image:width" content="{{ page.meta.image_width }}">
  <meta property="og:image:height" content="{{ page.meta.image_height }}">
  {% else %}
  <meta property="og:image" content="{{ config.site_url }}/img/tbc-card.png">
  <meta property="og:image:width" content="600">
  <meta property="og:image:height" content="330">
  {% endif %}
{% endblock %}

{% block site_nav %}
            {% if nav %}
              {% if page.meta and page.meta.hide %}
                {% set hidden = "hidden" if "navigation" in page.meta.hide %}
              {% endif %}
              <div class="md-sidebar md-sidebar--primary" data-md-component="sidebar" data-md-type="navigation" {{ hidden }}>
                <div class="md-sidebar__scrollwrap">
                  <div class="md-sidebar__inner">
                    {% include "partials/nav.html" %}
                  </div>
                </div>
              </div>
            {% endif %}
            {% if "toc.integrate" not in features %}
              {% if page.meta and page.meta.hide %}
                {% set hidden = "hidden" if "toc" in page.meta.hide %}
              {% endif %}
              <div class="md-sidebar md-sidebar--secondary" data-md-component="sidebar" data-md-type="toc" {{ hidden }}>
                <div class="md-sidebar__scrollwrap">
                  <div class="md-sidebar__inner">
                    {% include "partials/toc.html" %}
                  </div>
                </div>
                <div class="md-sidebar__scrollwrap">
                  <div class="md-sidebar__inner">
                  {% if page.meta and page.meta.repo_url %}
                    <label class="md-nav__title" for="__toc">
                      <a href="{{ page.meta.repo_url }}">Edit this page</a>
                    </label>
                  {% endif %}
                  </div>
                </div>
              </div>
            {% endif %}

{% endblock %}

